.container {
    display: flex;
    flex-direction: column;
    text-align: center;
align-items: center;
    span {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    img {
        width: 20px;
    }
    .description {
        justify-content: center;
        margin-top: 20px;
        max-width: 750px;
    }
   
}


@media (max-width: 799px) {
    .description{
        padding: 20px;
    }
}